.margin {
  margin-left: 10%;
  margin-right: 10%;
}
.name {
  color: orange;
  border: 4px solid black;
  width: 40%;
  font-size: 300%;
  text-align: center;
}
.right-info {
  padding: 5px;
  text-decoration: none;
  float: right;
}
.right-info a {
  border-bottom: 4px solid orange;
  color: black;
  font-size: 160%;
}
.title {
  position: relative;
  float: right;
  right: 30em;
  width: 40%;
}
.title h1 {
  font-size: 500%;
  color: orange;
}
.title h1 h3 {
  font-size: 300%;
}
.main-info-box {
  height: 300px;
  width: 100%;
  background-color: lightgray;
}
.main-info-box .sub-info-box {
  height: 200px;
  width: 450px;
  background-color: white;
  border: 3px solid black;
  float: right;
  position: relative;
  margin-top: 3em;
  margin-right: 2.75em;
}
.main-info-box .sub-info-box .info-text {
  font-size: 26px;
  word-wrap: break-word;
  text-align: center;
}
.experience-left h6 {
  text-align: center;
  font-size: 200%;
  margin: 25px;
  position: relative;
  top: 1em;
  padding: 3px;
  color: darkgray;
}
.bark {
  position: relative;
  text-align: center;
  font-size: 300%;
}
.jobs {
  height: 200px;
  width: 50%;
  float: left;
  border-top: 0px solid black;
  box-sizing: border-box;
  padding-left: 5em;
  padding-right: 5em;
  padding: 5px;
}
.jobs h1 {
  border-bottom: 2px solid black;
}
.jobs p {
  font-size: 200%;
  word-wrap: break-word;
}
.pictures img {
  float: left;
}
.background-image1 {
  width: 100%;
  height: 300px !important;
  background-position: center;
  background-position-y: -10px;
}
.background-image2 {
  width: 100%;
  height: 300px !important;
  background-position: 70% 10%;
}
.background-image3 {
  width: 100%;
  height: 300px !important;
  background-position: 80% 20%;
}
.background-image4 {
  width: 100%;
  height: 300px !important;
  background-position: 40% 20%;
  margin-top: 20px;
}
.background-image5 {
  width: 100%;
  height: 300px !important;
  background-position: 60% 20%;
  margin-top: 20px;
}
.background-image6 {
  width: 100%;
  height: 300px !important;
  background-position: 68% 20%;
  margin-top: 20px;
}
.logo {
  height: 5%;
  width: 5%;
  display: inline;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
