.margin {
  margin-left: 10%;
  margin-right: 10%;
}
.name {
  color: orange;
  border: 4px solid black;
  font-size: 2.5em;
  text-align: center;
}
@media (max-width: 600px) {
  color: orange;
  border: 4px solid black;
  font-size: 2.5em;
  text-align: center;
  width: 100%;
}
.right-info {
  padding: 5px;
  text-decoration: none;
  float: right;
}
.right-info a {
  border-bottom: 4px solid orange;
  color: black;
  font-size: 1.5em;
}
.headshot {
  height: 20em;
  width: 20em;
}
.title {
  position: relative;
  float: right;
}
.title h1 {
  font-size: 5em;
  color: orange;
}
.title h1 h3 {
  font-size: 3em;
}
@media (max-width: 600px) {
  .title {
    position: relative;
    float: right;
    width: 100%;
  }
}
.main-info-box {
  height: 300px;
  width: 100%;
  background-color: lightgray;
}
.main-info-box .sub-info-box {
  height: 200px;
  width: 450px;
  background-color: white;
  border: 3px solid black;
  float: right;
  position: relative;
  margin-top: 3em;
  margin-right: 2.75em;
}
.main-info-box .sub-info-box .info-text {
  font-size: 1.75em;
  word-wrap: break-word;
  text-align: center;
  margin: auto;
}
@media (max-width: 600px) {
  .sub-info-box {
    height: 200px;
    width: 450px;
    background-color: white;
    border: 3px solid black;
    float: right;
    left: 3em;
  }
  .sub-info-box .info-text {
    font-size: 1.75em;
    word-wrap: break-word;
    text-align: center;
    margin-right: 3em;
  }
}
.experience-left h6 {
  text-align: center;
  font-size: 1.5em;
  margin: 25px;
  position: relative;
  top: 1em;
  padding: 3px;
  color: darkgray;
}
.bark {
  position: relative;
  text-align: center;
  font-size: 4em;
}
.jobs {
  height: 200px;
  width: 100%;
  float: left;
  border-top: 0px solid black;
  box-sizing: border-box;
  padding-left: 5em;
  padding-right: 5em;
  margin-bottom: 8em;
  text-align: center;
}
@media (max-width: 600px) {
  .jobs {
    height: 200px;
    width: 100%;
    float: left;
    border-top: 0px solid black;
    box-sizing: border-box;
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 8em;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .background-image1 {
    width: 100%;
    height: 300px !important;
    background-position: center;
    background-position-y: -10px;
    background-size: cover;
    margin-top: 45em;
  }
}
.jobs h1 {
  border-bottom: 2px solid black;
  margin-top: 2em;
}
p {
  font-size: 1.75em;
  word-wrap: break-word;
}
.pictures img {
  float: left;
}
.background-image1 {
  width: 100%;
  height: 300px !important;
  background-position: center;
  background-position-y: -10px;
  background-size: cover;
}
.background-image2 {
  width: 100%;
  height: 300px !important;
  background-position: 70% 10%;
  background-size: cover;
}
.background-image3 {
  width: 100%;
  height: 300px !important;
  background-position: 80% 20%;
  background-size: cover;
}
.background-image4 {
  width: 100%;
  height: 300px !important;
  background-position: 40% 20%;
  background-size: cover;
}
.background-image5 {
  width: 100%;
  height: 300px !important;
  background-position: 60% 20%;
  background-size: cover;
}
.background-image6 {
  width: 100%;
  height: 300px !important;
  background-position: 68% 20%;
  background-size: cover;
}
.talk {
  font-size: 3em;
  float: left;
}
.email {
  font-size: 1.5em;
  float: right;
  color: lightgray;
}
@media (max-width: 600px) {
  .talk {
    margin-right: 1em;
  }
}
@media (max-width: 600px) {
  .email {
    float: right;
  }
}
.button {
  border: 1px solid black;
  color: white;
  text-transform: uppercase;
  background-color: red;
  height: 2.5em;
  width: 5em;
  margin: auto;
  text-align: center;
  float: right;
}
.form {
  width: 100%;
  background-color: lightgray;
}
#images {
  text-align: center;
}
#images .logo {
  height: 2em;
  width: 2em;
}
#images .logo span {
  display: inline;
}
.logo-text {
  font-size: 1.5em;
  margin-top: 2em;
}
.border-top {
  border-top: 2px solid black;
}
